{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ company.name|title }}</h1>
        </div>
    </div>
    {{ company.foodType|title }}
    {{ company.contact|title }}
    {% for menu in company.menus %}
        {{ menu.name|title }}
        {% for item in menu.items %}
            {{ item.name|title }}
        {% endfor %}
    {% endfor %}
{% endblock %}